<footer id="footer" class="footer">
    友情链接： <a href="https://hpcc.nju.edu.cn/">南京大学高性能计算中心</a>　<a href="https://sheng.geovbox.com/">李长圣的个人主页</a>　<a href="https://qiao.geovbox.com/">徐雯峤的个人主页</a> 　<a href="https://hmakse.ccny.cuny.edu/software-and-data/">Pro. Hernan Makse的软件下载</a>　<a href="http://epub.sipo.gov.cn/">中国专利公布公告</a>
    <div class="copyright">
        &copy; {{ with .Site.Params.since }} {{ . }} - {{ end }}
        <span itemprop="copyrightYear"> {{ now.Year }}</span>
<!--        <span class="with-love"><i class="fa fa-heart"></i></span>-->
        <span class="author" itemprop="copyrightHolder">{{ .Site.Author.name | markdownify }}</span>
    </div>
    <div class="powered-by">{{ .Site.Params.copyright | markdownify }}</div>
</footer>
{{ partial "footer_js" . }}
